@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Task Manager Website</h1>
    <p>
        The image below shows the different types of time Management Quadrants that Stephen Covey has created to organize tasks.
        For example, quadrant two we might put an activity to go to the gym for recreation purposes.
    </p>
</div>
<img src="~/img/TimeManagementMatrix.png" />